#pokemonName {
	position: absolute;
	text-align: center;
	width: 40%;
	left: 30%;
	right: 30%;
}

#pokemonImage {
	position: absolute;
	text-align: center;
	top: 10%;
	width: 20%;
	height: 30%;
	left: 40%;
	right: 40%;
}

#pokemonBody {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 10%;
	left: 38%;
	right: 52%;
}
#pokemonType {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 10%;
	left: 52%;
	right: 38%;
}

#buttons {
	position: absolute;
	text-align: center;
	top: 70%;
	width: 20%;
	left: 40%;
	right: 40%;
}